<div id="bubble-wrapper-desktop">
 <div id="speechbubble-avatar" class="clearfix">
   <div class="bubble">
     <span class="message">Hey there! Click here to earn rewards for referring your friends!</span>
   </div>
   <div class="notification-circle">1</div>
     <%= image_tag "bubble-face-avatar1.jpg", class: "face" %>
   </div>
 <!-- <%= image_tag "desktop-site.jpg"%> -->
 <!-- bubble-open -->
 <%= image_tag "desktop-site.jpg", class: "desktop-site" %>
</div>
