<div id="steps-indicator-group">
  <h1>EASY TO USE DASHBOARD.</h1>
  <h2>The dashboard allows you to track and optomize your referral marketing campaigns.</h2>
</div>
<%= image_tag "dashboard.png", class: "dashboard-landing" %>
