
<div id="steps-indicator-group">
  <h1>NOW YOU GET EXPONENTIAL GROWTH THROUGH REFERRALS.</h1>
  <h2>Users click the call to action and earn rewards by sharing with thier friends.</h2>
</div>
<div class="mobile-example-views">
	<div id="steps-headlines">
		<div class="row text-center">
			<div class="col-md-6">
				<%= image_tag "mobile-closed-shot.png", class: "iphone-images" %>
			</div>
			<div class="col-md-6">
				<%= image_tag "mobile-open-shot.png", class: "iphone-images" %>
			</div>
		</div>
	</div>
</div>
