
<div id="content-main">

		<div id="steps-indicator-group">
			<h1>Step 2: CAMPAIGN SETUP</h1>
			<h2>Easy to customize. Easy to launch. </h2>
			<ul>
				<li class="light-green-bg"><span>1</span></li>
				<li class="brand-light-blue-bg"><span>2</span></li>
				<li class='notfinished-circle'><span style="left: 9px; top: 3px;">3</span></li>
			</ul>
		</div>
		<!-- steps-indicator-group -->

		<%= image_tag "easysetup.png", class: "integration-landing" %>
	</div>
	<!-- content-main -->
