
<div id="content-main">

<div id="steps-indicator-group">
  <h1>Step 3: COPY AND PASTE</h1>
  <h2>Just place our simple JavaScript tag in the header of your site and your campaign is live.</h2>
  <ul>
    <li class="light-green-bg"><span>1</span></li>
    <li class="light-green-bg"><span>2</span></li>
    <li class='brand-light-blue-bg'><span style="left: 12px; top: 3px;">3</span></li>
  </ul>
</div>
<div class="code-box text-center">
  <pre>
      &lt;script language="javascript" src="actionwins.min.js"&gt;&lt;/script&gt;
      &lt;div class="action-wins" data-type="mobile" appear="slide-in" direction="right-to-left"&gt;&lt;/div&gt;
  </pre>
</div>

<!-- steps-indicator-group -->

</div>
<!-- content-main -->
