
<div id="content-main">

<div id="steps-indicator-group">
  <h1>Step 3: DROP A FEW LINES OF CODE IN YOUR APP.</h1>
  <h2>Just place our simple JavaScript tag in the header of your site and your campaign is live.</h2>
  <ul>
    <li class="light-green-bg"><span>1</span></li>
    <li class="light-green-bg"><span>2</span></li>
    <li class='brand-light-blue-bg'><span style="left: 12px; top: 3px;">3</span></li>
  </ul>
</div>
<div class="code-box text-center">
  <code>A piece of computer code</code>
</div>

<!-- steps-indicator-group -->

</div>
<!-- content-main -->
