	<div id="homepage">

   <div id="content-main">

			<div id="steps-indicator-group">
				<h1>Step 1: INTEGRATION</h1>
				<h2>Choose from an easy to use set of options for integration</h2>
				<ul>
					<li class="brand-light-blue-bg"><span>1</span></li>
					<li class="notfinished-circle"><span>2</span></li>
					<li class="notfinished-circle"><span>3</span></li>
				</ul>
			</div>
			<!-- steps-indicator-group -->
		 <%= image_tag "integration.png", class: "integration-landing" %>


		</div>
		<!-- content-main -->







	</div>
